<style>
    .popupsmart .ps-main-popup div[style*="padding: 70px 35px 70px 40px; margin: auto;"] {
        padding: 30px !important;
    }

    .popupsmart .ps-main-popup div[style*="margin-top: 20px; display: flex; align-items: center;"] {
        display: block !important;
        padding-top: 30px;
    }

    .popupsmart .ps-main-popup div[style*="margin-top: 20px; display: flex; align-items: center;"] button {
        display: block;
        margin: 0 0 10px 0 !important;
        width: 100%;
    }

    .ps-mark {
        box-sizing: border-box !important;
        z-index: 9999 !important;
        position: absolute !important;
        left: 5px !important;
        bottom: 5px !important;
        display: flex !important;
        flex-wrap: nowrap !important;
        flex-direction: row !important;
        align-items: center !important;
        border-radius: 4px !important;
        font-family: Helvetica, Calibri, Arial, sans-serif !important;
        font-size: 16px !important;
        line-height: 1.5em !important;
        transition: opacity 1s ease !important;
        -webkit-box-shadow: 0 1px 3px #d2d2d2;
        -ms-box-shadow: 0 1px 3px #d2d2d2;
        box-shadow: 0 1px 3px #d2d2d2
    }

    .ps-mark a {
        display: flex !important;
        align-items: center !important;
        background-color: #fff !important;
        color: #9c9c9c !important;
        padding: 5px !important;
        text-decoration: none !important;
        font-size: 10px !important;
        color: #9c9c9c !important;
        transition: .3s ease-in-out !important;
        border-radius: 5px !important
    }

    .ps-mark a:hover {
        background-color: #fff !important;
        color: #000 !important;
        padding-right: 10px !important;
        text-decoration: none !important
    }

    .ps-mark a span {
        opacity: 0 !important;
        width: 0 !important;
        height: 0 !important;
        line-height: 0 !important
    }

    .ps-mark a:hover span {
        opacity: 1 !important;
        width: auto !important;
        height: auto !important;
        line-height: 1em !important;
        margin-left: 5px !important
    }

    .ps-mark svg {
        font-size: 16px !important;
        color: #9c9c9c !important
    }

    .ps-mark a:hover svg {
        color: #1c86fa !important
    }

    @media (max-width: 600px) {
        .rmq-6c4711fc {
            width: 90% !important;
            max-width: 350px !important;
        }
    }

    @keyframes pulse-radium-animation-b93e56c5 {
        from {
            opacity: 0;
            transform: scale(.9, .9);
        }
        to {
            opacity: 1;
            transform: scale(1, 1);
        }
    }


    @media (max-width: 600px) {
        .rmq-6a89970a {
            display: block !important;
            width: 100% !important;
            height: auto !important;
        }
    }

    @media (max-width: 600px) {
        .rmq-126a285f {
            flex-direction: column-reverse !important;
        }
    }

    @media (max-width: 600px) {
        .rmq-1ffa558f {
            padding: 20px 25px !important;
        }
    }

    @media (max-width: 600px) {
        .rmq-87f97f35 {
            width: 100% !important;
            height: auto !important;
        }
    }

    @media (max-width: 600px) {
        .rmq-cd9e974c {
            flex-direction: column !important;
            width: 100% !important;
        }
    }

    @media (min-width: 600px) {
        .rmq-9e6538a1 {
            width: 300px !important;
            height: 100% !important;
            max-height: 100% !important;
        }
    }

    @media (max-width: 600px) {
        .rmq-287e00f1 {
            margin: 15px 0px !important;
        }
    }

    @media (max-width: 600px) {
        .rmq-10d5a989 {
            width: 100% !important;
        }
    }

    @media (max-width: 600px) {
        .rmq-c4dbd042 {
            width: 100% !important;
            margin: 10px 0 !important;
        }
    }
</style>

{{ 'popupsmart.js' | asset_url | script_tag }}

<div id="popup-smart-root-31243" style="z-index:99999;">
    <div data-radium="true">
        <div class="popupsmart" data-radium="true"
             style="position: fixed; display: flex; justify-content: center; inset: 0px; z-index: 2147483647; height: 100%; width: 100%; margin: 0px;">
            <div data-radium="true">
                <div class="ps-main-popup" data-radium="true"
                     style="position: absolute; display: flex; justify-content: center; inset: 0px; height: auto; width: 100%; overflow: hidden auto; margin: 0px; box-sizing: border-box; font-size: 20px; padding: 20px;">
                    <div class="rmq-6c4711fc" data-radium="true"
                         style="position: relative; pointer-events: visible; height: auto; background: rgb(255, 255, 255); border-radius: 0px; max-height: initial; z-index: 70; margin: auto; animation-name: pulse-radium-animation-b93e56c5; animation-duration: 1s; animation-fill-mode: both; animation-iteration-count: 1; width: 650px; box-shadow: rgba(0, 0, 0, 0.16) 0px 15px 25px 0px; overflow: hidden auto;">
                        <div data-radium="true">
                            <div id="PsCloseButton" class="ps-elm-closebutton" data-radium="true"
                                 style="z-index: 99; position: absolute; right: 10px; top: 10px; cursor: pointer;">
                                <svg id="Group_1195" data-name="Group 1195" xmlns="http://www.w3.org/2000/svg"
                                     width="35" height="35" viewBox="0 0 61 61">
                                    <circle id="Ellipse_250" data-name="Ellipse 250" cx="30" cy="30" r="30"
                                            transform="translate(0.5 0.5)" fill="transparent" stroke="#C30000"
                                            stroke-miterlimit="10" stroke-width="1"></circle>
                                    <g id="Group_1200" data-name="Group 1200">
                                        <line id="Line_1" data-name="Line 1" x2="23.4" y2="23.4"
                                              transform="translate(18.8 18.8)" fill="none" stroke="#C30000"
                                              stroke-miterlimit="10" stroke-width="2"></line>
                                        <line id="Line_2" data-name="Line 2" x1="23.4" y2="23.4"
                                              transform="translate(18.8 18.8)" fill="none" stroke="#C30000"
                                              stroke-miterlimit="10" stroke-width="2"></line>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div data-radium="true">
                            <div class="rmq-cd9e974c" data-radium="true" style="display: flex; flex-direction: row;">
                                <div class="rmq-6a89970a" data-radium="true" style="display: flex;">
                                    <div data-radium="true">
                                        <div class="rmq-9e6538a1 psImages ps-elm-image" name="IMAGE_1"
                                             data-radium="true"
                                             style="background-image: url(&quot;https://popup.popupsmart.com/resized/0840ba938fb01ab8140338b5825c90a1.jpeg&quot;); background-repeat: no-repeat; background-position: 0% 50%; background-size: cover; background-color: transparent;"></div>
                                    </div>
                                </div>
                                <div class="rmq-87f97f35" data-radium="true">
                                    <div class="rmq-1ffa558f" data-radium="true"
                                         style="padding: 70px 35px 70px 40px; margin: auto;">
                                        <div data-radium="true">
                                            <div data-radium="true">
                                                <div data-radium="true">
                                                    <div class="ps-elm-image" data-radium="true"
                                                         style="width: 100%; display: flex; justify-content: center; align-items: center;">
                                                        <img src="https://popup.popupsmart.com/resized/3b5c8705e7dd2cc47fe73f60819aa60a.png"
                                                             data-radium="true"
                                                             style="margin: 0px; max-width: 100%; width: 25%; height: auto;">
                                                    </div>
                                                </div>
                                                <div data-radium="true">
                                                    <div id="PsHeadline" class="ps-elm-headline" data-radium="true"
                                                         style="font-family: Inter; font-weight: 600; line-height: initial; margin: 10px 0px;">
                                                        <p style="text-align: center;">&nbsp;</p><br>
                                                        <p style="text-align: center;"><span
                                                                    style="font-size: 22px; text-align: center;">Hi, are you from <span class="user-location"></span></span>
                                                        </p></div>
                                                </div>
                                                <div data-radium="true">
                                                    <div id="PsDescription" class="rmq-287e00f1 ps-elm-description"
                                                         data-radium="true"
                                                         style="font-family: Inter; font-weight: 400; line-height: 1.5em; margin: 20px 0px;">
                                                        <p style="text-align: center;"><span style="font-size: 18px;">Would you like to see London based restaurants?</span>
                                                        </p></div>
                                                </div>
                                                <div id="PsCountdown" class="ps-elm-countdown"
                                                     style="margin-bottom: 15px; font-family: &quot;Nunito Sans&quot;; font-size: 1.2em; color: rgb(0, 0, 0); text-align: center;"></div>
                                            </div>
                                            <div class="rmq-126a285f" data-radium="true"
                                                 style="margin-top: 20px; display: flex; align-items: center;">
                                                <button class="rmq-10d5a989 psButtons" name="BUTTON_2" type="button"
                                                        data-radium="true"
                                                        style="opacity: 1; background-color: rgb(195, 0, 0); color: rgb(255, 255, 255); border-radius: 0px; border-color: rgb(195, 0, 0); font-family: Inter; font-weight: 400; font-size: 15px; text-align: center; text-transform: none; text-decoration: none; transition: opacity 0.3s ease 0s; margin: 10px 0px; padding: 12px 30px; letter-spacing: 0.3px;">
                                                    Confirm
                                                </button>
                                                <button class="rmq-c4dbd042 psButtons" name="BUTTON_1" type="button"
                                                        data-radium="true"
                                                        style="opacity: 1; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); border-radius: 0px; border-color: rgb(0, 0, 0); font-family: Inter; font-weight: 400; font-size: 15px; text-align: center; text-transform: none; text-decoration: none; transition: opacity 0.3s ease 0s; margin: 10px; padding: 12px 30px; letter-spacing: 0.3px;">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ps-mark"><a
                                    href="https://popupsmart.com?utm_source=https://test-store-nfq.myshopify.com/&amp;utm_medium=display&amp;utm_campaign=31243"
                                    target="_blank">
                                <svg viewBox="0 0 60 60" width="1em" height="1em">
                                    <path d="M56.627 12.274A22.44 22.44 0 0 0 47.078 3.2C42.956 1.112 38.127 0 31.356 0h-2.712c-6.769 0-11.6 1.112-15.72 3.2-4.02 2-7.347 5.16-9.551 9.072S0 20.778 0 27.209v5.578c0 6.434 1.173 11.024 3.373 14.934a22.41 22.41 0 0 0 9.551 9.074c4.12 2.094 8.949 3.206 15.72 3.206h2.711c6.771 0 11.6-1.112 15.72-3.206 4.02-2 7.347-5.16 9.551-9.072s3.373-8.5 3.373-14.934v-5.578c.001-6.436-1.172-11.026-3.372-14.937zM30 45.001a16.65 16.65 0 0 1-.708-.015l-.211-.012c-.14-.008-.28-.019-.419-.031l-.367-.036-.191-.024a14.98 14.98 0 0 1-2.672-.59v.002a14.86 14.86 0 0 1-6.294-3.955c-.536-.562-1.426-.584-1.988-.048s-.584 1.426-.048 1.988a17.65 17.65 0 0 0 8.33 4.944v.354c0 2.88-2.334 5.214-5.214 5.214s-5.214-2.334-5.214-5.214V30.041v-.039c0-8.284 6.716-15 15-15s15 6.716 15 15-6.716 15-15 15z"></path>
                                </svg>
                            </a></div>
                    </div>
                    <div aria-hidden="true" data-radium="true"
                         style="position: fixed; inset: 0px; width: 100%; height: 100%; z-index: 50; background: transparent;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
