<p>Delivery Information:</p>
<br>
<p>NCR: 1-3 Business Days</p>
<p>Luzon: 3-6 Business Days</p>
<p>Visayas: 5-8 Business Days</p>
<p>Mindanao: 8-11 Business Days</p>
<br>
<p>(Deliveries to Batanes, Camiguin, Dinagat Islands, Palawan, Southern Leyte, Siargao, Siquijor & Tawi-Tawi are currently suspended due to damages from Typhoon Odette)</p>
