<section class="about-us-header-content">
  <div class="wrapper text-center">
    <h1 class="h2 mb-0 wow fadeIn">
    	{{ section.settings.page-title }}
    </h1>
  </div>
</section>

{% schema %}
  {
    "name": "About Us Header",
	"class": "about-us-header",
    "settings": [
					{
						"type": "text",
						"id": "page-title",
						"label": "Page Title"
					}
				]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
