<section>
  <div class="product-cta-wrapper text-center">
    <div class="product-cta-wrapper--content">
      <h2 class="product-cta-title wow fadeIn">
        {{ section.settings.title }}
      </h2>
      <img class="img-fluid single-prod-cta--img wow fadeIn" data-wow-delay=".2s" src="{{ section.settings.img | img_url: 'master' }}">
      <a href="{{ section.settings.button-link }}" class="btn btn-secondary product-cta-btn wow fadeIn" data-wow-delay=".4s">
        {{ section.settings.button-text }}
      </a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Singe Product CTA",
	"class": "single-product-cta",
    "settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Call To Action Title"
					},
					{
                        "type": "image_picker",
                        "id": "img",
                        "label": "Call To Action Image"
                    },
					{
						"type": "text",
						"id": "button-text",
						"label": "CTA Button Text"
					},
					{
                        "type": "url",
                        "id": "button-link",
                        "label": "CTA Button Link"
                    }
				]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
