<!-- /templates/page.about-us.liquid -->
{% section 'about-us-header' %}

<div class="wrapper">
  <div class="about-us-content-row">
    <div class="about-us-content-row--col">
      {% section 'custom-rich-text' %}

      {% section 'mini-cta' %}

      {% section 'our-team' %}
    </div>
    <div class="about-us-content-row--col">
      {% section 'awards-accordion' %}
    </div>
  </div>
</div>
