<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">
	
    {% comment %}
    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header>
    {% endcomment %}

    <div class="coming-soon-template-wrapper">
      <img class="img-fluid coming-soon-logo" src="{{ 'emma-sleep-dark.png' | asset_url }}">
      <h1 class="text-primary">
        <span class="coming-soon--span">{{ page.title }}</span> Page Coming Soon!
      </h1>
      <a href="/" class="btn btn-primary">
      	Go Back To Homepage
      </a>
    </div>

  </div>
</div>
