<script>
    async function getData()
    {
        //await the response of the fetch call
        let response = await fetch('https://api.github.com/users');
        //proceed once the first promise is resolved.
        let data = await response.json()
        //proceed only when the second promise is resolved
        return data;
    }
    //call getData function
    getData()
        .then(data => console.log(data));//log the data

    let a = '2342'
</script>
{% section 'about-us-header' %}


<div class="wrapper">
    <div class="about-us-content-row">
        <p>sdklf {{ a }}</p>
        <div class="about-us-content-row--col">
            {% section 'custom-rich-text' %}

            {% section 'mini-cta' %}

            {% section 'our-team' %}
        </div>
        <div class="about-us-content-row--col">
            {% section 'awards-accordion' %}
        </div>
    </div>
</div>
